body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:510px;
  width:152px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
