body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u1 {
  position:absolute;
  left:2px;
  top:258px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:40px;
  top:222px;
  width:220px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
