body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:156px;
  top:505px;
  width:154px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:40px;
  top:103px;
  width:230px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
