body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:260px;
  width:200px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
