body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:255px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:220px;
  top:255px;
  width:40px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:40px;
  top:275px;
  width:230px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:40px;
  top:325px;
  width:230px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
