body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:107px;
  top:100px;
  width:110px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:134px;
  top:230px;
  width:56px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
